@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');

.stageBar{
    width: 90%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stageTitle{
    width: 60%;
    height: 25px;
    margin: auto;
    text-align: center;
    color: black;
    font-family: 'rajdhani';
    font-size: large;
    font-weight: bold;
}

.stageInfo{
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.rightInfo{
    width: 150px;
    height: 100%;
    background-color: aqua;
}

.leftInfo{
    flex:auto 1 1;
    height: 100%;
    background-color: #117DB0;
    padding-top: 5px;
}

.perInfo{
    width: 95%;
    margin: auto;
}
.perInfoTitle{
    font-family: 'rajdhani';
    font-size: medium;
    color: white;
}

.perInfoData{
    top: -10px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.groupeInfo{
    margin-bottom: 10px;
}

.infoTitle{
    font-family: 'Roboto';
    font-size: x-small;
    color: white;
    width: fit-content;
    background-color: #117DB0;
    padding-right: 2px;
    padding-left: 2px;
    transform: translate(0.1rem, 0);
}

.infoValue{
    width: 200px;
    overflow: auto;
    scrollbar-width: none;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    font-family: 'Poppins';
    font-size: medium;
    padding: 5px;
}
.infoValue::-webkit-scrollbar {
    display: none;
  }