*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 595px;
    height: 842px;
}
body{
    width:595px;
    height:842px;
    background-color: darkgray;
}

.container{
    width: 100%;
    height: 100%;
    background-color: darkgray;
    text-align: center;
    padding-top: 50px;
}

.fiche{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
}

.logo{
    width:300px;
    margin: auto;
}

.logo img{
    width: 100%;
}

.title{
    font-weight: bold;
    font-size: small;
    color: #117DB0;
}

.information{
    text-align: center;
}

.info-title{
    font-weight: bold;
    color: #4B4B4D;
    font-size: small;
}

.info{
    width: 500px;
    border: solid #117DB0 2px;
    border-radius: small;
    padding: 2px;
    margin: auto;
}

.info-input{
    text-align: left;
    padding: 2px;
}

.input-title{
    float: left;
    font-weight: bold;
    font-size: small;
}
.input-title-large{
    font-weight: bold;
    font-size: small;
}

.input-text{
    font-size: small;   
}

.info-input-large{
    padding: 2px;
    text-align: left;
}

.signatures{
    padding-top: 20px;
    width: 80%;
    margin: auto;
}
.signature1{
    float: left;
    width: 25%;
}
.signature2{
    float: left;
    width: 50%;
}
.signature3{
    float: right;
    width: 25%;
}

.sign{
    font-size:small ;
}

.sign-of{
    font-size: small;
    font-weight: bold;
}

.tail{
    padding-top: 20px;
    font-size: small;
    text-align: center;
}