*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100%;
    background-color: darkgray;
}

.container{
    width: 100%;
    height: 100%;
    background-color: darkgray;
    text-align: center;
    padding-top: 50px;
}

.fiche{
    margin: auto;
    width: 1000px;
    height: 1124px;
    background-color: white;
}

.logo{
    width:500px;
    margin: auto;
}

.logo img{
    width: 100%;
}

.title{
    font-weight: bold;
    font-size: 30px;
    color: #117DB0;
}

.information{
    text-align: center;
}

.info-title{
    font-weight: bold;
    color: #4B4B4D;
    font-size: 26px;
}

.info{
    width: 800px;
    border: solid #117DB0 2px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.info-input{
    text-align: left;
    padding: 2px;
}

.input-title{
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.input-title-large{
    font-weight: bold;
    font-size: 20px;
}

.input-text{
    font-size: 20px;   
}

.info-input-large{
    padding: 2px;
    text-align: left;
}

.signatures{
    padding-top: 20px;
    width: 80%;
    margin: auto;
}
.signature1{
    float: left;
    width: 25%;
}
.signature2{
    float: left;
    width: 50%;
}
.signature3{
    float: right;
    width: 25%;
}

.sign{
    font-size:20px ;
}

.sign-of{
    font-size: 20px;
    font-weight: bold;
}

.tail{
    padding-top: 80px;
    font-size: 15px;
    text-align: center;
}