@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10%;
}

/* container styling */
.container{
    width: 80%;
    margin: auto;
    text-align: center;
    max-width: 600px;
    min-width: 400px;
    border: 0.02px solid #999;
    box-shadow: -4px 4px 8px rgba(100, 100, 100, 0.2), 4px -4px 8px rgba(100, 100, 100, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.9), 4px 4px 10px rgba(100, 100, 100, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(100, 100, 100, 0.5);
    background-color: blue;
}


/* header styling */
.header{width:100%;background-color: white;padding-bottom: 30px;}
.header img{width: 50%;}
.header h1{font-family: 'Rajdhani', sans-serif;color: #117DB0;font-style: normal;}
/* end header styling */

/* form styling */
.box{
    position: relative;
    height: 598px;
    background-color: #117DB0;
    overflow: hidden;
}
.entrepreneur-form{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Poppins';
    top:0%;
}
.form{
    width: 80%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    backdrop-filter: blur(20px);
}
.form p{
    color: white;
    padding-bottom: 5px;
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
}


/*input groupe styling */
.input-groupe{
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
}
.double-input-groupe{
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.double-input{width: 49%;}
/* end input groupe styling */

/* input and label styling */
.input{
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    border-radius: 2px;
    background-color: #117DB0;
    color: white;
    outline: none;
    padding-left: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: medium;
}
.label{
    display: block;
    transform: translate(0, -3rem);
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-size: medium;
    padding-left: 5px;
}
@supports (not (-ms-ime-align:auto)) {
    .label {
      color: #999;
      transform: translate(0.25rem, -2.3rem);
      transition: all 0.2s ease-out;
    }
    .input:focus + .label,
    .input:not(:placeholder-shown) + .label {
      color: white;
      transform: translate(0, -3.6rem);
      font-family: Roboto;
      font-style: normal;
      font-size: x-small;
      padding-left: 5px;
    }
}
.input:focus, .input:not(:placeholder-shown) {border:1px solid white;}
.label span{background-color: #117DB0;padding-left: 2px;padding-right: 2px;}
.input::-webkit-calendar-picker-indicator {filter: invert(1);}
/* end input and label styling */

/* form error styling */
.FormError{
    color: #d93025;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    /* visibility: hidden; */
}
/* end form error styling */

/* button styling */
button{
    width:20%;
    height: 50px;
    text-align: center;
    background-color: #117DB0;
    border: 1px solid white;
    border-radius: 2px;
    /* box-shadow: -4px 4px 8px rgba(7, 50, 70, 0.2), 4px -4px 8px rgba(7, 50, 70, 0.2), -4px -4px 8px rgba(27, 200, 255, 0.9), 4px 4px 10px rgba(7, 50, 70, 0.9), inset 1px 1px 2px rgba(27, 200, 255, 0.3), inset -1px -1px 2px rgba(7, 50, 70, 0.5);    font-style: 'Poppins'; */
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
}
button:active{
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    box-shadow: 1px 1px 2px rgba(27, 200, 255, 0.3), -1px -1px 2px rgba(7, 50, 70, 0.5), inset -4px 4px 8px rgba(7, 50, 70, 0.2), inset 4px -4px 8px rgba(7, 50, 70, 0.2), inset -4px -4px 8px rgba(27, 200, 255, 0.9), inset 4px 4px 10px rgba(7, 50, 70, 0.9);
}
/* end button styling */

/* end form styling */



/* loading styling */
.checkbox{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.loading-title{
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: x-large;
}

/* check loading styling */
.check{
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    top: 25px;
    border-left-color:#117DB0;
    animation: rotate 1.2s linear infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.check-animation{
    animation: none;
    animation: complet 0.8s ease;
    animation-fill-mode: forwards;  
}
@keyframes complet{
    0%{
        border-left-color:#4F8A10;
    }
    35%{
        border-left-color:#4F8A10;
        border-top-color:#4F8A10;
    }
    70%{
        border-left-color:#4F8A10;
        border-top-color:#4F8A10;
        border-right-color: #4F8A10;
    }
    100%{
        border-left-color:#4F8A10;
        border-top-color:#4F8A10;
        border-right-color: #4F8A10;
        border-bottom-color:#4F8A10;
    }
}
.error-animation{
    animation: none;
    animation: error 0.8s ease;
    animation-fill-mode: forwards;  
}
@keyframes error{
    0%{
        border-left-color:red;
    }
    35%{
        border-left-color:red;
        border-top-color:red;
    }
    70%{
        border-left-color:red;
        border-top-color:red;
        border-right-color: red;
    }
    100%{
        border-left-color:red;
        border-top-color:red;
        border-right-color: red;
        border-bottom-color:red;
    }
}
.check-icon{
    position: absolute;
    content: "";
    top: 70px;
    left: 50px;
    transform: scaleX(-1) rotate(135deg);
    height: 45px;
    width: 30px;
    border-top: 3px solid #4F8A10;
    border-right: 3px solid #4F8A10;
    transform-origin: left top;
    animation: check-icon 0.8s ease ;
}
@keyframes check-icon {
    0%{
        height: 0;
        width: 0;
        opacity: 1;
    }   
    35%{
        height: 45px;
        width: 30px;
        opacity: 1;
    }
    100%{
        height: 45px;
        width: 30px;
        opacity: 1;
    }
}
/* end check loading styling */

#loading{
    top: 598px;
    padding-top: 30%;
}
.movein{
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    top: 0px !important;
}
.moveout{
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    top: -598px !important;
}
.movein2{
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    top: 0px !important;
}
.moveout2{
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    top: 598px !important;
}
/* end loading styling */



/* result message styling */
#ResultMessage{
    padding-top: 30%;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: x-large;
    display: none;
}
/* end result message styling */