
body{
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    background-color: whitesmoke;
    padding-top: 80px;
}

.container{
    border: 2px solid cornflowerblue;
    margin: auto;
    width: 500px;
    /* min-height: 900px; */
    background-color: cornsilk;
}

.container h2{
    text-align: center;
    font-size: large;
    /* font-weight: bold; */
    color: cornflowerblue;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
}

.form{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.input-groupe{
    width: 80%;
    /* background-color: aliceblue; */
    height: 40px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.input-groupe input{
    width: 80%;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    height: 90%;
    margin: 0;
    padding: 0;
    outline:none;
    padding-left: 10px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: cornsilk;
}

.input-button{
    width: 80px;
    height: 40px;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-bottom: 10px;
}

@media  (max-width: 525px) {

    .container{
        border: 2px solid cornflowerblue;
        margin: 0;
        width: 100%;
        /* min-height: 900px; */
        background-color: cornsilk;
    }    

    .input-groupe{
        width: 90%;
        /* background-color: aliceblue; */
        height: 40px;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .input-groupe input{
        width: 90%;
        border: 2px solid cornflowerblue;
        border-radius: 5px;
        height: 90%;
        margin: 0;
        padding: 0;
        outline:none;
        padding-left: 5px;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }    
} 
input[type="file"] {
    display: none;
}

@media  (max-width: 369px){
    .container h2{
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: cornflowerblue;
    }
}