*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    padding-top: 25px;
}

.container{
    width: 60%;
    margin: auto;
    background-color: cornsilk;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

form{
    width: 100%;
}

.input-groupe{
    width: 80%;
    height: 50px;
    padding-bottom: 20px;
    margin: auto;
}

.input-groupe input{
    width: 100%;
    height: 100%;
    border: 1px solid beige;
    margin: auto;
}

button{
    width: 25%;
    height: 50px;   
}