@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    padding-top: 10%;
    padding-bottom: 10%;
}

.container{
    width: 50%;
    margin: auto;
    text-align: center;
    max-width: 800px;
    min-width: 400px;
    background-color: blue;
}

@media (max-width: 410px){

    .container{
        width: 100%;
        min-width: 1px;
    }

    .form{
        width:  90% !important;
        margin: auto;
    }
    button{
        width: 30% !important;
    }
    .fichedustagiare{
        width: 100% !important;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Poppins';
        font-style: normal;
        display: none;
    }
    #telecharger{
        margin-top: 10px;
        width: 40% !important;
    }
}

.header{
    width:100%;
    background-color: white;
    padding-bottom: 30px;
}

.header img{
    width: 50%;
}

.header h1{
    font-family: 'Poppins';
    color: #117DB0;
    font-style: normal;
}

.etapes{
    width: 100%;
    background-color: #117DB0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.check-point{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: auto;
}

.default-point {
    border: 2px solid #117DB0;
    background-color: white;
}

.edit-point{
    border: 2px solid white;
    background-color: #117DB0;
}

.valid-point{
    border: 2px solid white;
    background-color: green;
}

.stagaire-form{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #117DB0;
    text-align: center;
    position: absolute;
}

.box{
    position: relative;
    width: 100%;
    height: 600px;    
    overflow: hidden;
}

.stagaire-form p{
    width: 70%;
    color: white;
    margin: auto;
    font-size: small;
    padding-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.form{
    width: 60%;
    max-width: 230px;
    margin: auto;
}

.input-groupe{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.double-input-groupe{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.double-input{
    width: 48%;
}

.input-groupe-upload{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 2px;
    background-color: #117DB0;
    color: white;
    outline: none;
    padding-left: 3px;
    font-family: Roboto;
    font-style: normal;
    font-size: small;
}

.input{
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    border-radius: 2px;
    background-color: #117DB0;
    color: white;
    outline: none;
    padding-left: 3px;
    font-family: Roboto;
    font-style: normal;
    font-size: small;
}

.schools{
    border: 1px solid white;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-size: small;
}
.selecttion{
    height: 100%;
    width: 100%;
    background-color: #117DB0;
    border: none;
    color: white;
    outline: none;
    padding-left: 3px;
    font-family: Roboto;
    font-style: normal;
    font-size: small;
}

.label {
    display: block;
    transform: translate(0, -3rem);
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-size: small;
    padding-left: 5px;
  }
  
  @supports (not (-ms-ime-align:auto)) {
      .label {
        color: #999;
        transform: translate(0.25rem, -1.8rem);
        transition: all 0.2s ease-out;
      }
  
      .input:focus + .label,
      .input:not(:placeholder-shown) + .label {
        color: white;
        transform: translate(0, -3rem);
        font-family: Roboto;
        font-style: normal;
        font-size: x-small;
        padding-left: 5px;
      }
  }

  .input:focus, .input:not(:placeholder-shown) {
      border:1px solid white;
  }
  .label span{
      background-color: #117DB0;
      padding-left: 2px;
      padding-right: 2px;
}

.input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.radio-goupe{
    width: 25%;
    color: white;
}

.input-checkbox-groupe{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: space-between;
}

button{
    width: 15%;
    height: 40px;
    background-color: #117DB0;
    border: none;
    box-shadow: -1px 1px 2px rgba(7, 50, 70, 0.2), 1px -1px 2px rgba(7, 50, 70, 0.2), -1px -1px 2px rgba(27, 200, 255, 0.9), 1px 1px 3px rgba(7, 50, 70, 0.9), inset 1px 1px 2px rgba(27, 200, 255, 0.3), inset -1px -1px 2px rgba(7, 50, 70, 0.5);
    border-radius: 2px;
    color: white;
    font-size: medium;
    font-family: Roboto;
    font-style: normal;
}

button:active {
    box-shadow: 1px 1px 2px rgba(27, 200, 255, 0.3), -1px -1px 2px rgba(7, 50, 70, 0.5), inset -1px 1px 2px rgba(7, 50, 70, 0.2), inset 1px -1px 2px rgba(7, 50, 70, 0.2), inset -1px -1px 2px rgba(27, 200, 255, 0.9), inset 1px 1px 3px rgba(7, 50, 70, 0.9);    border-radius: 2px;
}

#telecharger{
    margin-top: 10px;
    width: 30%;
}

.fichedustagiare{
    width: 70%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    display: none;
}

.container-stagaire{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
    text-align: center;
}

.fiche{
    width: 100%;
    margin: auto;
    background-color: white;
}

.logo{
    width: 40%;
    margin: auto;
}

.logo img{
    width: 100%;
}

.title{
    font-weight: bold;
    font-size: x-small;
    color: #117DB0;
}

.information{
    text-align: center;
}

.info-title{
    font-weight: bold;
    color: #4B4B4D;
    font-size: x-small;
}

.info{
    width: 85%;
    border: solid #117DB0 2px;
    border-radius: 10px;
    padding: 2px;
    margin: auto;
}

.info-input{
    text-align: left;
    font-weight: bold;
    padding: 2px;
}

.input-title{
    float: left;
    font-weight: bold;
    font-size: xx-small;
    padding-right: 5px;
    color: black;

}
.input-title-large{
    font-weight: bold;
    font-size:xx-small;
    color: black;
}

.input-text{
    font-size: xx-small;
    color: black;
}

.info-input-large{
    padding: 2px;
    text-align: left;
    color: black;
}

.signatures{
    padding-top: 5px;
    width: 90%;
    margin: auto;
    font-size: 0.5em;
    color: black;
}
.signature1{
    float: left;
    width: 25%;
}
.signature2{
    float: left;
    width: 50%;
}
.signature3{
    float: right;
    width: 25%;
}

.sign-of{
    font-weight: bolder;
}

.tail{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: xx-small;
    text-align: center;
}

.move-disabled{
    opacity: 50%;
}

.move-enabled{
    opacity: unset;
}

 #det{
    left: +100%;
}

#per{
    left: 0;
}

.movein {
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    left: 0 !important;
}
.moveout {
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    left: -100% !important;
}
.move2in {
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    left: 0% !important;
}
.move2out {
    -webkit-transition: all 0.2s ease-in-out, -webkit-transform 0.2s;
    transition: all 0.2s ease-in-out, transform 0.2s;
    left: 100% !important;
}
/* .box:hover #det {
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    left: -100%;
} */
/* input[type="file"] {
    display: none;
} */

.section{
    background-color: #117DB0;
}

.inputerror{
    border: 1px solid red;
    box-shadow: -2px 0px 4px rgba(255, 0, 0, 0.25), 2px 0px 4px rgba(255, 0, 0, 0.25), 0px -4px 4px rgba(255, 0, 0, 0.25), 0px 6px 7px rgba(255, 0, 0, 0.25);
}