@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    padding-top: 10%;
    padding-bottom: 10%;
}

.container{
    width: 50%;
    margin: auto;
    max-width: 600px;
    min-width: 400px;
    background-color: blue;
}

.header{
    width:100%;
    /* min-height: 125px; */
    background-color: white;
}

.header img{
    width: 50%;
}

.stagaire-form{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #117DB0;
    text-align: center;
}

.stagaire-form p{
    width: 70%;
    color: white;
    margin: auto;
    font-size: small;
    padding-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    /* font-size: 39px;
    line-height: 46px; */
}

.form{
    width: 60%;
    max-width: 230px;
    margin: auto;
}

.input-groupe{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.input{
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    border-radius: 2px;
    background-color: #117DB0;
    color: white;
    outline: none;
    padding-left: 3px;
    font-family: Roboto;
    font-style: normal;
    font-size: small;
}

.label {
    display: block;
    transform: translate(0, -3rem);
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-size: small;
    padding-left: 5px;
  }
  
  @supports (not (-ms-ime-align:auto)) {
      .label {
        color: #999;
        transform: translate(0.25rem, -1.8rem);
        transition: all 0.2s ease-out;
      }
  
      .input:focus + .label,
      .input:not(:placeholder-shown) + .label {
        color: white;
        transform: translate(0, -3rem);
        font-family: Roboto;
        font-style: normal;
        font-size: x-small;
        padding-left: 5px;
      }
  }

  .input:focus, .input:not(:placeholder-shown) {
      border:1px solid white;
  }
  .label span{
      background-color: #117DB0;
      padding-left: 2px;
      padding-right: 2px;
}

.input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
