@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');


.updateUserBox{
    width: 90%;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.updateUserLeftBar{
    width: 200px;
    height: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.updateUserLeftBar hr{
    width: 90%;
    margin: 0  auto;
    border: none;
    border-top: 1px solid #117DB0;
    margin-bottom: 20px;
}

.updateUserLeftBarTitle{
    height: 80px;
    padding-top: 10%;
    font-family: 'Rajdhani';
    font-size: large;
    font-weight: 800;
}
.updateUserLeftBarSection{
    height: 80px;
    padding-top: 10%;
    font-family: 'Rajdhani';
    font-size: medium;
    font-weight: 800;
    text-decoration-line: underline;
    color: #117DB0;
    cursor: pointer;
}
.updateUserLeftBarSection:hover{
    font-size: large;
}