@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');


.updateUserBox{
    width: 90%;
    background-color: white;
    border: 1px solid #f7f7f7;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.updateUserLeftBar{
    min-width: 200px;
    height: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.updateUserLeftBar hr{
    width: 90%;
    margin: 0  auto;
    border: none;
    border-top: 1px solid #117DB0;
    margin-bottom: 20px;
}

.updateUserLeftBarTitle{
    height: 80px;
    padding-top: 10%;
    font-family: 'Rajdhani';
    font-size: large;
    font-weight: 800;
}
.updateUserLeftBarSection{
    height: 80px;
    padding-top: 10%;
    font-family: 'Rajdhani';
    font-size: medium;
    font-weight: 800;
    text-decoration-line: underline;
    color: #117DB0;
    cursor: pointer;
}
.updateUserLeftBarSection:hover{
    font-size: large;
}

.updateUserRightBar{
    margin-top: 30px;
}


.updateUserFormSection{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.updateUserInputGroupe{
    width: 200px;
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.updateUserInputGroupe input{
    width: 100%;
    height: 40px;
    padding-left: 2px;
    border: none;
    border: 2px solid #117DB0;
    border-radius: 2px;
    font-family: 'Poppins';
    font-size: medium;
    color: #117DB0;
    font-weight: 700;
    outline: none;
}
.updateUserInputGroupe input::-webkit-calendar-picker-indicator {filter: invert(0.8);}
.updateUserInputGroupe input:placeholder-shown{background-color: #ccc;}
.updateUserInputGroupe input:focus{background-color: white;}

.updateUserInputGroupe label{
    font-family: 'Poppins';
    font-size: small;
    font-weight: bold;
    color: #117DB0;
    padding-left: 5px;
}
#passwordChange{
    display: none;
}
/* #formDataPassword{display: none;}
#555555 */