@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');

.box{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.header{
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #117DB0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header img{
    width: 150px;
}

.user{
    width: 120px;
}
.user-role{
    height: 100%;
    text-align: center;
    align-content: center;
    padding-top: 10%;
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    font-weight: bolder;
    color: #117DB0;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.user-role:hover{
    color: green;
}

.user-nav{
    text-align: center;
    list-style-type: none;
    background-color: white;
    border: 1px solid #117DB0;
    display: none;
    text-align: left;
    backface-visibility: hidden;
}
.user-nav li{
    height: 30px;
    padding-left: 10%;
    cursor: pointer;
    font-family: 'Poppins';
}
.user-nav li:hover{background-color: whitesmoke;}

.logout{
    font-weight: bold;
}

.homeContainer{
    /* padding-top: 20px; */
    padding-bottom: 20px;
    background-color: #2874A6;
    background-color: #FAFAFA;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
.sideBar{
    min-width: 80px;
    min-height: 500px;
    /* height: 100vh; */
    background-color: #117DB0;
    padding-top: 10px;
}
.sideBar div{
    margin: 15px auto;
    padding-top: 10px;
    width: 80px;
    height: 80px;
    max-height: 100px;
    /* background-color: white; */
    text-align: center;
}

.sideBar div img{
    height: 80%;
}

.dashborde{
    padding-top: 20px;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}
.dactiveDashBorde{
    font-family: 'Rajdhani';
    font-size: x-large;
    font-weight:600;
    color: #117DB0;
}
.dactiveDashBorde span{
    color: #F1C40F;
}